body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 20px 50px ;
    background-color: white !important;
    text-align: center;
    
}
.navbar ul li{
    margin-right: 30px;
    text-align: center;
    /* padding: 5px; */
}

.nav-item:hover{
    background-color:rgb(236, 229, 229);
}
.btn{
    height: 50px !important;
    border-radius: 8px 8px 8px 0 !important;
    background-color: blue !important;
}
.radius{
    border-radius: 8px 8px 8px 0 !important;
}

.btn:hover{
    opacity: 2px;
    box-shadow: grey;
}
.hero-section{
    padding: 10px;
    margin: 60px;
    border-radius: 20px 20px;
    
}

.hero{
    position: absolute;
    right: 120px;
    top: 100px;
    border-radius: 20px;
    width: 380px;
    height: 500px !important;
}

span{
    text-transform: uppercase;
    font-size: x-small;
}
.icons{
    text-align: center;  
}
h5{
    text-transform: capitalize;
}
.con{
    background-color:rgb(229, 252, 252);
    width: 70px;
    height: 70px;
    border-radius: 10px 10px 10px 2px;
    padding: 10px;
}
.content{
    background-color:rgb(229, 252, 252);
    /* padding: 80px 10px 50px 10px !important; */
}
.money{
    padding: 150px 100px;
    color: indigo;   
}
.money a{
    color: indigo;

}
.testimonial{
    background-color: blue !important;
}
.feature-section{
    background-color: rgb(255, 251, 251);
    padding: 40px;
    
}
ul li a{
    color: rgb(179, 180, 228);
    text-decoration: none;
    text-transform: capitalize;
}
ul li{
    list-style-type: none;
}
blockquote{
    display: flex ;
    flex-wrap: wrap;
    line-height: 1rem;
}
.wrap-img{
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.customers-side{
    padding: 60px 60px;
}

.footer-section{
    background-color: blue !important;
}
.foot{
    background-color: transparent;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .foot{
        background-color: rgb(13, 54, 219);
        height: 5opx;
    }
    
}
.dropbtn {
    color: black;
    padding: 20px;
    font-size: 16px;
    border: none;
    margin-right: 25px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn:hover{
    background-color:rgb(236, 229, 229);
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 50px;
  }
  
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.address{ direction: rtl; }
.foot1{direction: rtl;}

/* invest html */
.invest{
    background-color: indigo !important;
}

.nac{
    border-radius: 8px 8px 8px 0px;
    background-color: rgb(230, 225,235);
    padding: 20px;
    color: indigo;
    
}


.simple{
    padding: 180px 0px 180px 0px;
}
.simple h3{
    color: indigo;
}

.ment h6{
    font-weight: 700;
    font-size: bold;
    margin-top: 20px;
}
.ment p{
    font-size: small;
}
.easy{
    padding: 180px 0px 180px 0px;
    margin-left: 5px;
}

.per{
    
    padding: 3px !important;
}
.per:hover{
    box-shadow: 0px 0px 10px 0px rgb(214, 203, 203);
}

/* login */

.form-content{
    background: #fff;
    padding: 30px;
    border-radius: 10px 10px 10px 0px;
    box-shadow: 0px 0px 10px 0px #000;
    
}
.pass a:hover{
    color: rgb(130, 130, 197) !important;
}

/* faqs */
.faqs{
    padding: 100px;
}
.form-text{
    width: 600px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px;
}
.sidebar{
    box-shadow: 0px 0px 10px 0px rgb(214, 203, 203);
}
.accordion-button {
    text-decoration: none;
}
.accordion-button a{
    text-decoration: none;
    color: #000;
}
/* stories */

.carousel-control-prev, .carousel-control-next{
    width: 30px;
    height: 30px;
    bottom: 180px !important;
    margin-top: -50px;
}
.carousel-control-prev{
    left: 30px;
}

.carousel-control-next{
    left: calc(30px + 10px);
}
.carousel-control-prev-icon{
    background-color: rgb(190, 200, 226);
}
.carousel-control-next-icon{
    background-color: rgb(214, 218, 238);
}

/* account */
option{
    overflow: scroll !important;
    height: 10px !important;
}


